<div class="already-enrolled-wrapper">
  <div class="already-enrolled-box">
    <h1 class="enrolled-header"><i class="fa-solid mx-2 fa-triangle-exclamation"></i>You're Already Enrolled</h1>
    <p class="enrolled-info">It seems you've already enrolled in this course. Please check your dashboard for more details.</p>

    <div class="course-details-section">
      <h2 class="course-title">{{ courseTitle }}</h2>
      <p class="course-info"><i class="fa-solid mx-2 fa-clock"></i> {{ courseDuration }}</p>
    </div>

    <div class="action-options">
      <h3>What would you like to do next?</h3>
      <ul>
        <li><i class="fa-solid mx-2 fa-user"></i> View all your enrolled courses in the <a routerLink="/profile/dashboard" class="dashboard-link">Dashboard</a></li>
        <li><i class="fa-solid mx-2 fa-magnifying-glass"></i> Browse more courses from our <a routerLink="/Courses" class="courses-link">Course Library</a></li>
      </ul>
    </div>

  </div>
</div>
