<div class="container">
  <div class="order-confirmation-card">
    <div class="row"*ngIf="order">
      <h2>Order Confirmation</h2>
      <div class="col-lg-4 col-md-6 col-sm-12"*ngFor="let item of order.orderItems">
        
        <div>
          <h3>Order Items</h3>
          <ul>
            <div class="row">
            <li>
              <img *ngIf="item.imageUrl" [src]="item.imageUrl" alt="{{item.productName}}" class="product-image">
              <div class="product-details">
                <p><strong>Product Name:</strong> {{ item.productName }}</p>
                <p><strong>Quantity:</strong> {{ item.quantity }}</p>
                <p><strong>Price:</strong> {{ item.price > 0 ? '$' + item.price : 'Free' }}</p>
              </div>
            </li>
          </div>
          </ul>
          
        </div>
      </div>

      <div class="row">
        <div class="col-md-6" *ngIf="order">
          <p><strong>Date:</strong> {{ order.orderDate | date:'medium' }}</p>
          <p><strong>Total Price:</strong> {{ order.totalPrice > 0 ? '$' + order.totalPrice : 'Free' }}</p>
          <p><strong>Payment Status:</strong> {{ order.paymentStatus }}</p>
          <p><strong>Order Status:</strong> {{ order.orderStatus }}</p>
        </div>

        <div class="col-md-6" *ngIf="order">
          <h3>Shipping Details</h3>
          <p>{{ order.addressLine1 }}</p>
          <p *ngIf="order.addressLine2">{{ order.addressLine2 }}</p>
          <p>{{ order.city }}, {{ order.state }}, {{ order.country }} - {{ order.postalCode }}</p>
    
        </div>
      </div>
    </div>
    <div class="confirmation-actions">
      <a routerLink="/product"><button class="btn btn-primary">Continue Shopping</button></a>
    </div>
    <div *ngIf="!order">
      <app-loader></app-loader>
    </div>
  </div>
</div>



