<div class="container-fluid py-5">
  <div class="card card-responsive">
    <div class="card-body">
      <table class="table table-responsive-md table-hover">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Product</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody *ngIf="cartData && cartData.shoppingCartItems && cartData.shoppingCartItems.length > 0">
          <tr *ngFor="let item of cartData.shoppingCartItems">
            <td class="align-middle">
              <button class="btn btn-outline-danger btn-sm" (click)="deleteToCart(item.productId)">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
            <td class="align-middle">
              <img src="{{item.imageUrl}}" alt="{{ item.productName }}" class="img-fluid img-thumbnail" height="80" width="100">
            </td>
            <td class="align-middle"> {{ item.productName }} </td>
            <td class="align-middle">{{ item.price | currency }}</td>
            <td class="align-middle">{{ item.quantity }}</td>
            <td class="align-middle">{{ (item.price * item.quantity) | currency }}</td>
          </tr>
        </tbody>
      </table>

      <div class="row mt-3 justify-content-between">
        <div class="col-md-3 col-12">
          <button class="btn checkout-btn w-100 w-md-auto" (click)="goToOrderPage()">Proceed to checkout</button>
          <button class="btn btn-outline-danger w-100 my-2" (click)="clearcart()">Clear Cart</button>
        </div>
        <div class="col-md-3 col-12 text-md-right">
          <p *ngIf="cartData && cartData.totalPrice" class="total-price"><strong>Total:</strong> {{ cartData.totalPrice | currency }}</p>
          <p *ngIf="cartData && cartData.totalPrice" class="total-price"><strong>Check Your checkout </strong> </p>
        </div>
      </div>
    </div>
  </div>
</div>
