<div class="container-fluid py-5">
  <div class="row justify-content-center">
    <!-- Left Text Section -->
    <div class="col-lg-5 col-md-12">
      <h6 class="">How It Started</h6>
      <h3 class="mb-4">Our Dream is Global Learning Transformation</h3>
      <h5 class="mb-4">We Have 15 Years Of Experiences In Fashion Designer Service and Courses</h5>
            
      <div class="col-12 mb-4">
        <img src="Images/pinceldraw.jpg" class="img-fluid rounded" alt="Learning Image">
      </div>
    </div>
    <!-- Right Image and Counters Section -->
    <div class="col-lg-5 col-md-12">
      <div class="row">
        <!-- Image Section -->
        <div class="col-12 mb-4">
          <img src="Images/aboutpic.jpg" class="img-fluid rounded" alt="Learning Image">
        </div>
        <!-- Counters Section -->
        <div class="col-6 mb-2">
          <div class="card text-center py-4">
            <h3>{{ experienceCount }}+</h3>
            <p>Years Experience</p>
          </div>
        </div>
        <div class="col-6">
          <div class="card text-center py-4">
            <h3>{{ challengesCount }}</h3>
            <p>Project Challenges</p>
          </div>
        </div>
        <div class="col-6">
          <div class="card text-center py-4">
            <h3>{{ reviewsCount }}+</h3>
            <p>Positive Reviews</p>
          </div>
        </div>
        <div class="col-6">
          <div class="card text-center py-4">
            <h3>{{ studentsCount }}</h3>
            <p>Trusted Students</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
