/* Footer Styles */
.footer-container {
    background-color: #8A552A;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-logo {
    width: 50px; /* Adjust the size accordingly */
    margin-right: 15px;
  }
  
  .footer-text {
    font-size: 18px;
    color: #fafafa;
  }
  
  .newsletter-form {
    margin-right: 30px;
  }
  
  .newsletter-input {
    border-radius: 8px;
    padding: 5px 10px;
    border: none;
    margin-right: 10px;
  }
  
  .btn-newsletter {
    background-color: #F4D4C2;
    color: #8A552A;
    border-radius: 25px;
    padding: 5px 15px;
    border: none;
    font-size: 16px;
  }
  
  .social-icons {
    gap: 10px;
  }
  
  .social-icon i {
    color: #fafafa;
    font-size: 24px;
  }
  
  .footer-bottom {
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin-bottom: 0;
  }
  
  .footer-bottom a {
    margin: 0 10px;
    color: #fafafa;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      text-align: center;
    }
  
    .social-icons {
      justify-content: center;
      margin-top: 15px;
    }
  }
  