<div class="dashboard-container">
  <h1 class="dashboard-title"> Dashboard</h1>

  <div class="statistics">
    <div class="stat-card">
      <h2>Total Revenue</h2>
      <p class="stat-value">${{ totalRevenue.toFixed(2) }}</p>
    </div>
    <div class="stat-card">
      <h2>Total Orders</h2>
      <p class="stat-value">{{ totalOrders }}</p>
    </div>
    <div class="stat-card">
      <h2>Total Courses</h2>
      <p class="stat-value">{{ totalCourses }}</p>
    </div>
    <div class="stat-card">
      <h2>Total Order Items</h2>
      <p class="stat-value">{{ orderItemsCount }}</p>
    </div>
  </div>

  <div class="charts">
    <div class="chart-container">
      <h3>Orders Over Time</h3>
      <canvas baseChart
              [datasets]="orderChartData"
              [labels]="orderChartLabels"
              [options]="chartOptions"
              [type]="'bar'">
      </canvas>
    </div>

    <div class="chart-container">
      <h3>Courses Enrolled</h3>
      <canvas baseChart
              [datasets]="courseChartData"
              [labels]="courseChartLabels"
              [options]="chartOptions"
              [type]="'pie'">
      </canvas>
    </div>
  </div>
</div>
