<div class="services-body">
<div class="container py-5">
    <div class="row text-center">
      <h2 class="w-100 mb-4"style="color: #a34949e5;">Our Services</h2>
    </div>
    
    <div class="row justify-content-center">
      <!-- Card 1 -->
      <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
        <div class="card service-card shadow">
            <div class="text-center" style="width: 100%;">
              <img src="Images/product.png" style="width:50%;" class="card-img-top service-img" alt="Service 1">
            </div>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Service One</h5>
            <p class="card-text">Description of Service One. Brief explanation of the service and what it offers.</p>
            <a routerLink="/product" class="btn btn-primary mt-auto">Learn More</a>
          </div>
        </div>
      </div>
  
      <!-- Card 2 -->
      <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
        <div class="card service-card shadow">
            <div class="text-center" style="width: 100%;">
                <img src="Images/sewing.png" style="width:50%;" class="card-img-top service-img" alt="Service 1">
              </div>
            <div class="card-body d-flex flex-column">
            <h5 class="card-title">Service Two</h5>
            <p class="card-text">Description of Service Two. Highlighting the key benefits of this service.</p>
            <a routerLink="/create-order" class="btn btn-primary mt-auto">Learn More</a>
          </div>
        </div>
      </div>
  
      <!-- Card 3 -->
      <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
        <div class="card service-card shadow">
            <div class="text-center" style="width: 100%;">
                <img src="Images/sewing course.png" style="width:50%;" class="card-img-top service-img" alt="Service 1">
            </div>        
            <div class="card-body d-flex flex-column">
            <h5 class="card-title">Service Three</h5>
            <p class="card-text">Description of Service Three. Why this service is beneficial and what it includes.</p>
            <a routerLink="/Courses" class="btn btn-primary mt-auto">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>