<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <!-- Added logo image here -->
        <a class="navbar-brand me-auto" href="#">
            <img src="Images/logo.png" alt="Logo" class="logo-img" style="width:60px;">
            Sara El Ebeidy
        </a>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Sara El_Ebeidy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 active" aria-current="page" routerLink="Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 active" routerLink="product">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" routerLink="Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" routerLink="About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" routerLink="Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" routerLink="Courses">Courses</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="icons">
            <a class="position-relative" routerLink="/Cart" id="shopping">
                <i class="fas fa-shopping-cart fh"></i>
                <div class="cart-no">3</div>
            </a>
            <a class="uiverse" routerLink="Login">
                <span>
                    <i class="fas fa-user fh" id="login_icon"></i> 
                </span>
            </a>
            <a class="position-relative" routerLink="register" id="signup">
                <i class="fa-solid fa-user-plus fh"></i>
            </a>
        </div>

        <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
