
<div class="container-fluid vh-100 d-flex align-items-center">
  <div class="row w-100">
    <!-- Left side with image -->
    <div class="col-lg-6 d-none d-lg-block p-0">
      <div class="image-section" style="height: 100vh; background-image: url('Images/clothes.jpg'); background-size: cover; background-position: center;"></div>
    </div>

    <!-- Right side with login form -->
    <div class="col-lg-6 d-flex justify-content-center align-items-center">
      <div class="login-form w-75">
        <div class="text-center mb-4">
          <img src="Images/logo.png" alt="Sew Liberated Logo" class="img-fluid" style="width:70px;">
        </div>
        <p class="pra">Please enter your username or email address. You will receive an email message with instructions on how to reset your password.</p>


        <form [formGroup]="loginForm" (ngSubmit)="Onsubmit()">
          <div class="form-group mb-3">
            
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa-regular fa-user"></i> <!-- Email icon -->
                </span>
              </div>
              <input
                type="email"
                id="email"
                formControlName="email"
                class="form-control"
                placeholder="Email Address"
                required
              />
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>

        </form>
        <p>Remember your password? <a routerLinkActive="active" routerLink="/Login">Login here</a></p>

        
      </div>
    </div>
  </div>
</div>
