.container-fluid {
  
  padding: 50px;
  margin: 6rem 0rem;

}

.form-container {
  background-color: #f7e0e5ee;
  border-radius: 8px;
  border:none;
  margin-left:20px;
  
}



.form-control {
  border-radius: 8px;
  border: 1px solid #ced4da;
  transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
  border-color:#8b3b4cee;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.btn-primary {
  background-color:  #315350;
  padding: 12px;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color:  #243d3b;
}

#card-element {
  background-color: #f7e0e5ee;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid #8b3b4cee;;
  margin-top: 20px;
}

h3, h5 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #343a40;
}

label {
  font-size: 14px;
  font-weight: 500;
  color:#8b3b4cee;
}

input::placeholder {
  color: #adb5bd;
}

.form-control{
  border-radius: 30px;
}

select.form-select {
  border-radius: 30px;
}



.card {
  border-radius: 8px;
  border: none;
  margin-right:25px;
  background-color: #f7e0e5ee;;
  color: #57202cee;;
}

.product-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: inline-block;
  object-fit: cover;
}
.container {
  max-width: 1200px; /* Restrict maximum width */
}

.form-container, .card {
  width: 100%; /* Ensure both form and card take full column width */
}

.product-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
tbody,td,th,table{
  background-color:#f7e0e5ee;
  color: #8b3b4cee;
}
h3,h5{
  color: #8b3b4cee;
}