<div class="main">
  <div class="container-fluid hero-section py-5 text-white"style="background-image: url('Images/home2.jpg');" >
    <div class="container my-5">
    </div>
  </div>
</div>

<!--Services-->
<app-our-services></app-our-services>

<!----static section -->
<div class="container-fluid show-sec bg-light py-5" style="background-color:#cc9385;">
  <div class="row justify-content-center">
    <!-- Image Section -->
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img src="Images/show-sec.jpg" alt="Hinterland Dress" class="img-fluid rounded">
    </div>
    <!-- Text Section -->
    <div class="col-lg-4 col-md-12">
      <h2 class="mb-4">an iconic handmade dress</h2>
      <p class="lead">Our much-loved closet staple, the Hinterland Dress, has been sewn by over <strong>12,000 sewists</strong>, who revel in its simplicity and versatility.</p>
      <h4 class="mt-4 mb-2">A sewing bestseller</h4>
      <p class="lead">When we released the <strong>Hinterland Dress pattern</strong>, we had no idea that it was going to spread so far, all via word-of-mouth.</p>
      <h4 class="mt-4 mb-2">Grab your pattern and join in!</h4>
      <p class="lead">The Hinterland Dress is available up to a <strong>58.5” (147 cm)</strong> bust and a <strong>61” (155 cm)</strong> hip. The pattern includes 3/4-sleeve, short sleeve, and sleeveless options, as well as full-placket, half-placket, and placket-free options.</p>
      <a routerLink="create-order" class="btn btn-success btn-lg mt-4">Get your pattern or take a course</a>
    </div>
  </div>
</div>

<!--to Courses-->

<section class="quiz-section " style="position: relative;">
  <div class="container" style="height: 80vh;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 left-side">
            <h2>WHAT’S YOUR CREATIVE PERSONALITY?</h2>
            <p>Uncover and celebrate your hidden creative strengths, understand your roadblocks, and get personalized guidance on your sewing journey.</p>
            <a routerLink="product" class="btn btn-success btn-lg mt-4">Get your course</a>

          </div>
        <div class="col-lg-6 col-md-6 col-sm-12 quiz-images" style="position: relative;">
          <div class="img1">
              <img src="Images/quiz.jpg"  alt="Personality image 1">
          </div>
          
      </div>
    </div>
</div>

</section>


<!-- <app-product></app-product> -->

<app-about></app-about>

