
.container{
    margin-top: 4.5rem;
    padding: 3rem;
    

}

.reset-container {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(136, 87, 87, 0.849);
    width: 70%;
    margin: auto;

}
.reset-container h2 {
        margin-bottom: 20px;
        color: #a34949e5;
        text-align: center;
    }

.reset-container input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 35px;
        border: 1px solid #a34949e5;
    }

.reset-container button {
        background-color: #a34949e5;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 35px;
        width: 100%;
        cursor: pointer;
        font-size: 16px;
    }

.reset-container button:hover {
            background-color: #a03e3ee5;
        }

.reset-container p {
        margin-top: 20px;
        color: #666;
    }

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
