

<div class="container">
<div class="Reset">
    <div class="reset-container">
        <h2>Change Your Password</h2>
        <form id="resetForm" [formGroup]="ResetPassword" (ngSubmit)="Onsubmit()">


            <div class="form-group mb-3">
                <label for="email">Email Address</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa-regular fa-user"></i> <!-- Email icon -->
                    </span>
                  </div>
                  <input
                    type="email"
                    id="email"
                    formControlName="email"
                    class="form-control"
                    placeholder="Email Address"
                    required
                  />
                </div>
              </div>
    
            




            <label for="password">Old Password</label>
            <input
            type="password"
            
            formControlName="password"
            class="form-control"
            placeholder="Password"
            required
          />

          <label for="newpassword">new Password</label>
          <input
          type="password"
          
          formControlName="newpassword"
          class="form-control"
          placeholder="new password"
          required
        />
            <label for="confirmPassword">confirm Password</label>
            <input
            type="password"
            
            formControlName="confirmPassword"
            class="form-control"
            placeholder="confirm Password"
            required
          />
          
            <div id="error-message" class="error">{{errorMessage}}</div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
               {{ loading ? 'Change Password ...' : 'Change Password' }}
             </button>
        </form>
        <p>If you face any issues, please contact support.</p>
    </div>
</div>
</div>