.container {
    margin: 7rem ;
    height: auto;
  }
  h3{
    color: rgba(171, 69, 69, 0.692);
  }
  .card {
    border-radius: 12px;
    background-color: #f9f9f9;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-primary {
    background: linear-gradient(45deg, rgba(128, 69, 69, 0.692), rgba(177, 70, 70, 0.692));
    border: none;
  }
  
  .btn-primary:hover {
    background: linear-gradient(45deg, rgba(128, 69, 69, 0.692), rgba(146, 56, 56, 0.616));
  }
  