
<div class="container slider-container">
    <div class="row">
     
  
      <!-- Slider Area -->
      <div class="col-10">
        <div class="slider-track" [style.transform]="'translateX(' + (-currentIndex * 100 / slidesPerView) + '%)'">
          <div class="slider-item" *ngFor="let product of getCurrentProducts()">
            <a [routerLink]="['/product', product.id]">
            <div class="card product-card">
              <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <span class="product-type">{{ product.type }}</span>
              </div>
            </div>
          </a>
          </div>
        </div>
      </div>
  
      
  
    <!-- Pagination Dots -->
    <div class="pagination-dots">
      <span *ngFor="let dot of [].constructor(totalPages); let pageIndex = index"
            [class.active]="pageIndex === currentIndex"
            (click)="goToSlide(pageIndex)">
            {{pageIndex+1}}
      </span>
    </div>
  </div>
  


