/* Product Card Styling */
.product-card {
    background-color: #965c86;
    border: none;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  .product-card .card-body {
    padding: 20px;
  }
  
  .product-card .card-title {
    font-family: 'Cursive', sans-serif;
    font-size: 22px;
    font-weight: bold;
  }
  
  .product-card .card-text {
    font-size: 16px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .product-card img {
    border-radius: 20px 20px 0 0;
  }
  
  /* Button Styles */
  .fashion-btn {
    background-color: #34044b;
    color: #fff;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
  }
  
  .fashion-btn:hover {
    background-color: #2a013d;
  }
  
  .fashion-btn-outline {
    background-color: transparent;
    color: #FF8F81;
    border: 2px solid #FF8F81;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
  }
  
  .fashion-btn-outline:hover {
    background-color: #FF8F81;
    color: #fff;
  }
  
  /* Container Styling */
  .container {
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
  }
  
  .main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
  }
  