<div class="container">
  <!-- Filter Form -->
  <form (ngSubmit)="applyFilter()" class="filter-form mb-4">
    <div class="form-group">
      <label for="category">Category</label>
      <input
        type="text"
        id="category"
        [(ngModel)]="filterCriteria.category"
        name="category"
        class="form-control"
      />
    </div>
    
    <div class="form-group">
      <label for="minPrice">Min Price</label>
      <input
        type="number"
        id="minPrice"
        [(ngModel)]="filterCriteria.minPrice"
        name="minPrice"
        class="form-control"
        placeholder="Enter minimum price"
      />
    </div>

    <div class="form-group">
      <label for="maxPrice">Max Price</label>
      <input
        type="number"
        id="maxPrice"
        [(ngModel)]="filterCriteria.maxPrice"
        name="maxPrice"
        class="form-control"
        placeholder="Enter maximum price"
      />
    </div>

    <div class="form-group">
      <label for="keyword">Keyword</label>
      <input
        type="text"
        id="keyword"
        [(ngModel)]="filterCriteria.keyword"
        name="keyword"
        class="form-control"
        placeholder="Search by keyword"
      />
    </div>

    <button type="submit" class="btn btn-primary">Apply Filter</button>
    <button type="button" (click)="clearFilter()" class="btn btn-secondary">Clear Filter</button>
  </form>

  <h1 class="title-shop">SHOP</h1>
  <main class="main bd-grid">
    <article class="card" *ngFor="let product of getCurrentProducts()">
      <div class="card__img">
        <img [src]="product.imageUrl" style="height: 180px; width: 180px;border-radius: 20px;" alt="">
      </div>
      <div class="card__name">
        <p>{{ product.name }}</p>
      </div>
      <div class="card__precis">
        <a [routerLink]="['/product', product.id]" class="card__icon"><i class="fa-solid fa-heart"></i></a>
        <div>
          <s style="color: #FF5151;"><span class="card__preci card__preci--before">{{ product.price | currency }}</span></s>
          <span class="card__preci card__preci--now">{{ product.price - product.discount | currency }}</span>
        </div>
        <a href="" class="card__icon"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
    </article>
    
  </main>

  <app-pagination [totalPages]="totalPages" [currentPage]="currentPage" (pageChange)="goToSlide($event)"></app-pagination>
</div>
