<div class="main" style="  background-image: url('Images/register2.jpg');">
<div class="container mt-5">
    <div class="row justify-content-center my-5">
      <div class="col-md-4">
        <div class="card mt-5 shadow-lg border-0 animate-card">
          <div class="card-body p-3">
            <div class="text-center mb-2">
              <img src="Images/register.jpg" alt="Fashion Logo" class="img-fluid" style="border-radius: 50%; height: 100px; width: 100px;">
            </div>
            <h5 class="card-title text-center mb-2" style="font-family: 'Playfair Display', serif; font-weight: bold;">
              Welcome Back
            </h5>
  
            <form [formGroup] ="loginForm" (ngSubmit)="Onsubmit()">
              <div class="form-group mb-3">
                <label for="email" class="form-label" style="font-weight: bold;">Email</label>
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  name="email"
                  class="form-control form-control-lg focus-effect"
                  placeholder="you@example.com"
                  required
                />
              </div>
  
              <div class="form-group mb-3">
                <label for="password" class="form-label" style="font-weight: bold;">Password</label>
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  name="password"
                  class="form-control form-control-lg focus-effect"
                  placeholder="********"
                  required
                />
              </div>
  
              <div *ngIf="errorMessage" class="alert alert-danger text-center">
                {{ errorMessage }}
              </div>
  
              <div class="d-grid gap-2">
                <button
                  type="submit"
                  class="btn btn-primary btn-lg btn-animated"
                  [disabled]="loading"
                  style="background-color: #6a1b9a; border-radius: 30px; border: none; font-family: 'Open Sans', sans-serif;"
                >
                  {{ loading ? 'Logging in...' : 'Login' }}
                </button>
              </div>
            </form>
  
            <div class="text-center mt-2">
              <a href="#" class="text-muted" style="text-decoration: none; font-family: 'Open Sans', sans-serif;">
                Forgot password?
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>