/* Icon container */

.container-fluid{
  margin-top: 5rem ;
}
.input-group-prepend .input-group-text {
  background-color: #fff;
  border-right: none;
  padding: 10px;
}

.form-control {
  border-left: none;
}

.form-control:focus {
  box-shadow: none;
  
}

.btn-primary {
  background-color: #396958;
  border-color: #396958;
  font-family: 'Open Sans', sans-serif;
  border-radius: 25px;
}

.btn-primary:hover {
  background-color: #1e362e;
}
