.container{
  margin-top: 5rem;
  height: 100vh;
}
.product-detail-card {
    
    transition: all 0.3s ease;
    padding: 20px;
  }
  
  .product-detail-card:hover {
    transform: scale(1.05);
  }
  
  img {
    height: 80vh;
    width: 400px;
  }
  
  .card-title {
    color: #315350;
    font-family: 'Cursive', sans-serif;
  }
  
  .card-text {
    color: #315350;
    font-family: 'Montserrat', sans-serif;
  }
  
  .list-group-item {
    background-color: transparent;
    border: none;
    color: #315350;
  }
  

  .card{
    margin:2rem 0px;
    padding: 10px;
  }
.fashion-btn{
background-color: #315350;
border-radius: 35px;
color: aliceblue;
 }
 .fashion-btn:hover{

  background-color: #243d3b;
 }