/* profile-dashboard.component.css */
body {
  font-family: Arial, sans-serif;
}

.dashboard {
  max-width: fit-content;
  
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  
}
.dashboard {
  width: 20px;
  float: left;
  overflow-x: clip;

}
.dashboard:hover {
  /* transition: width 0.3s ease-in-out; */
  width: 250px;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;

}

.sidebar {
  width: inherit;
  background-color: #f4f4f4;
  padding: 15px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
  background-color: #ddd;
}

/* .main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
} */


.main-content {
  margin-left: 250px;
  padding: 20px;
}
