<!-- profile-dashboard.component.html -->
<div class="dashboard">
  <header class="header">
    <div class="logo"></div>
    <div class="user-info">
      <img src="Images/user.png" alt="User Avatar" class="avatar"  width="50px"/>
      <span class="username">{{UserName}}</span>
    </div>
  </header>

  <div class="sidebar">
    <nav>
      <ul>
        <li><a routerLink="dashboard" routerLinkActive="active"><i class="fa-solid mx-2 fa-chart-line"></i>Dashboard</a></li>
        <li><a routerLink="MyOrders" routerLinkActive="active"><i class="fa-solid mx-2 fa-bag-shopping"></i>Orders</a></li>
        <li><a routerLink="enrolled-courses" routerLinkActive="active"><i class="fa-solid mx-2 fa-square-check"></i>Enrolled Courses</a></li>
        <li><a routerLink="custom-orders" routerLinkActive="active"><i class="fa-solid mx-2 fa-paperclip"></i>Custom Orders</a></li>
        <li><a routerLink="/changePassword" routerLinkActive="active"><i class="fa-solid mx-2 fa-gear"></i>Account Settings</a></li>
        <li><a (click)="logout()"><i class="fa-solid mx-2 fa-right-from-bracket"></i>Logout</a></li>
      </ul>
    </nav>
  </div>
</div>

    <!-- <app-dashboard></app-dashboard> -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
