<!-- <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let product of products; let i = index" class="carousel-item"
                 [class.active]="i === activeIndex"
                 [class.carousel-item-next]="i === (activeIndex + 1) % products.length && direction === 'next'"
                 [class.carousel-item-prev]="i === (activeIndex - 1 + products.length) % products.length && direction === 'prev'">
              <div class="row align-items-center bannerImage">
                <div class="col-lg-4 col-md-5 col-sm-12 text-center details">
                  <h4 class="product-title">{{ product.name }}</h4>
                  <p class="product-description">{{ product.description }}</p>
                  <h5 class="product-price" style="color: #720d0d;">${{ product.price }}</h5>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-12 text-center image">
                  <img [src]="product.imageUrl" alt="{{ product.name }}" style="height: 120px;" class="img-fluid imageSlider">
                </div>
              </div>
            </div>
          </div>
  
          <div class="control-box">
            <a class="carousel-control-prev" role="button" (click)="prevSlide()">
              <i class="fa-solid fa-chevron-left"></i>
            </a>
            <a class="carousel-control-next" role="button" (click)="nextSlide()">
              <i class="fa-solid fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->



   <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" *ngIf="groupedProducts.length > 0" data-bs-interval="5000">
    <div class="carousel-inner">
      <!-- Loop through the grouped products -->
      <div *ngFor="let productGroup of groupedProducts; let i = index" class="carousel-item" [class.active]="i === 0">
        <div class="row justify-content-center">
          <!-- Loop through each product in the group (3 products per slide) -->
          <div class="col-md-3" *ngFor="let product of productGroup">
            <div class="card text-center" style="width: 18rem;">
              <img [src]="product.imageUrl" style="height: 250px;" class="card-img-top" alt="{{ product.name }}">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">
                  <span class="text-muted">Price <s>{{ product.price }}$</s></span><br>
                  <span class="text-success">Offer Price {{ product.price - product.discount }}$</span>
                </p>
                <a [routerLink]="['/product', product.id]">
                <button class="btn btn-slider">
                  <i class="fas fa-cart-plus"></i> Add to Cart
                </button>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Carousel navigation controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
  
  
  
  
  