


   <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" *ngIf="groupedProducts.length > 0" data-bs-interval="3000">
    <div class="carousel-inner">
      <!-- Loop through the grouped products -->
      <div *ngFor="let productGroup of groupedProducts; let i = index" class="carousel-item" [class.active]="i === 0">
        <div class="row justify-content-center">
          <!-- Loop through each product in the group (3 products per slide) -->
          <div class="col-md-3" *ngFor="let product of productGroup">
            <div class="card text-center" style="width: 18rem;">
              <img [src]="product.imageUrl" style="height: 250px;" class="card-img-top" alt="{{ product.name }}">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text"*ngIf="product.discount && (product.price - product.discount) === 0">
                  <span class="text-muted">Price <s>{{ product.price }}$</s></span><br>
                </p>


                <p class="card-text" *ngIf="product.discount && (product.price - product.discount) !== 0">
                  <span class="text-muted">Price <s>{{ product.price }}$</s></span><br>
                  <span class="text-success">Offer Price {{ product.price - product.discount }}$</span>
                </p>


                <a [routerLink]="['/product', product.id]">
                <button class="btn btn-slider">
                  <i class="fas fa-cart-plus"></i> Add to Cart
                </button>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Carousel navigation controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
  
  
  
  
  