<div class="Reset">
    <div class="reset-container">
        <h2>Reset Your Password</h2>
        <form id="resetForm" [formGroup]="ResetPassword" (ngSubmit)="Onsubmit()">
            <label for="newpassword">Password</label>
            <input
            type="password"
            
            formControlName="newpassword"
            class="form-control"
            placeholder="Password"
            required
          />
            <label for="confirmPassword">confirm Password</label>
            <input
            type="password"
            
            formControlName="confirmPassword"
            class="form-control"
            placeholder="Password"
            required
          />
          
            <div id="error-message" class="error">{{errorMessage}}</div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
               {{ loading ? 'Reset Password ...' : 'Reset Password' }}
             </button>
        </form>
        <p>If you face any issues, please contact support.</p>
    </div>
</div>